* {
    box-sizing: border-box;
  }
  #app {
    font-size: 5em;
    text-align: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
  }
  #header {
    background-color: #F3CA40;
    height: 20vh;
    width: 100vw;
  }
  #middle {
    height: 60vh;
    width: 100vw;
  }
  #main {
    width: 100%;
    display: flex;
  }
  #nav {
    width: 100%;
    background-color: #4B4E6D;
  }
  #articles {
    width: 50%;
    background-color: #6A8D92;
    height:50vh;
  }
  #ads {
    width: 50%;
    background-color: #F2A541;
  }
  #footer {
    height: 20vh;
    width: 100vw;
    background-color: #F08A4B;
  }